.DS_Store
DerivedData/
build/
.build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
.worktrees/
Gemfile.lock
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/.env
fastlane/*.p8
*.p12
*.mobileprovision
